.Freq-app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #303030;
  min-height: 100vh;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Sans-Serif;
}

.Main-buttons{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  padding: 0px 20px;
  flex-wrap: wrap;
  max-width: 800px;
  width: 80%;
}
.Button-array {
  display:flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  align-items: baseline;
  max-width: 800px;
  width: 100%;
  align-self: center;
  margin-bottom: 30px;
}
.Freq-button {
  color: ivory;
  background-color: #db4c64;
  margin: 4px;
  padding: 8px;
  float: left;
  width: calc(8px + 5vw);
  min-width: 100px;
  height:190;
  font-size: calc(4px + 2vmin);
  text-justify: left;
  font-family: Sans-Serif;
  border-width: 8px;
  border-radius: 25px;
  border-color: #5e5e5e;
  border-style: solid;
}
.Freq-button:active{
  background-color: #a84757;
}

.Freq-button-clicked {
  background-color: #d4c112;
}
.Freq-button-clicked:active {
  background-color: #867a0a;
}
.Freq-button-winner {
  background-color: #39d412;
}

.Reset {
  margin: 8px;
  background-color: #808080 !important;
  width: 15%
}
.Reset:active {
  background-color: #646464 !important;
}

.Reset-complete {
  background-color: #39d412 !important;
}

.Header-title {
  justify-self: center;
  align-self: center;
  padding: 20px;
  font-size: xx-large;
  color: ivory;
  font-weight: 600;
}

.Stats {
  color: ivory;
  font-size: calc(2px + 2vmin) !important;
  font-weight: 500;
  align-self: center;
  justify-self: center;
  border-style: solid;
  margin: 10px;
  padding: 8px;
  float: left;
  min-width: 100px;
  width: 25%;
  height:190;
  font-size: calc(6px + 2vmin);
  text-justify: left;
  font-family: Sans-Serif;
  border-width: 10px;
  border-radius: 25px;
  border-color: #5e5e5e;
}

.Stats-good{color: #39d412}
.Stats-ok{color: yellow}
.Stats-bad{color: red;}

.High-low {
  color: ivory;
  font-size: calc(6px + 2vmin);
  font-weight: 500;
  align-self: center;
  justify-self: center;
  width: 25%;
}

.Difficulty {
  display:flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-evenly;
  align-items: baseline;
  max-width: 800px;
  width: 100%;
  align-self: center;
  margin: 8px;
}
.Difficulty-button {
  color: ivory;
  background-color: #888af5;
  margin: 4px;
  padding: 8px;
  float: left;
  width: calc(8px + 5vw);
  min-width: 100px;
  height:190;
  font-size: calc(4px + 1vmin);
  text-justify: left;
  font-family: Sans-Serif;
  border-width: 6px;
  border-radius: 25px;
  border-color: #5e5e5e;
  border-style: solid;
}

.Difficulty-button:disabled {
  color: grey;

}
.Difficulty-button:active {
  background-color: #5e5fa8;
}

.Difficulty-title{
  color: rgba(255, 255, 240, 0.596);
  margin-top: 10px;
  padding: 8px;
  font-size: larger;
  text-justify: center;
  font-family: Sans-Serif;
  justify-self: center;
  align-self: center;

}